<section class="container-fluid">
  <div class="row contactus">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" id="callus">
      <div class="grid-container" id="callus">
        <div class="text-center emailus">
          Why not give us a call <br />
          (+92) 333 905 8576
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" id="emailus">
      <div class="grid-container" id="emailus">
        <div class="text-center emailus">
          Or get in touch by email <br />
          contact@netwaresol.com
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="links">
        <a href="home">Home</a>
        <a href="projects">Projects</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="row" id="row-logo">
    <div
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"
      id="footer-logo"
    ></div>

    <div
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"
      id="footer-logo"
    >
      <div class="logo">
        <a href="home">
          <img
            src="http://netwaresol.com/img/logoo.png"
            alt="img"
            class="footer-logo"
          />
        </a>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"
      id="footer-logo"
    ></div>
  </div>
</section>
