<section class="container-fluid">
  <app-header></app-header>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="about">
        <h4 class="about">About:___</h4>
        <p class="about">
          We are a creative development force that dives deep understand the
          processes and provides efficient, effective technical solutions to
          improve processes for business large & small.
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="about-logo">
        <img
          src="http://netwaresol.com/img/logoo.png"
          alt="img"
          class="footer-logo"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <h4 class="process">Process:__</h4>
      <div class="row">
        <div class="col-xm-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <fa-icon
            [icon]="['fas', 'book']"
            id="teach"
            class="blue-logo"
          ></fa-icon>
        </div>
        <div class="col-xm-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <p>Teach</p>
        </div>
        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <p>
            Conduct workshops with our team members to help them explain the
            potential of the product and make each individual aware of the
            product who becomes the part of the project.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xm-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <fa-icon
            [icon]="['fas', 'chart-line']"
            id="user-flow"
            class="blue-logo"
          ></fa-icon>
        </div>
        <div class="col-xm-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <p>Userflow</p>
        </div>
        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <p>
            Using the core team of the project, the designers/developers are
            asked to logically devise a user flow with all the possible
            navigation used by the user. Possibly using all the functionalities.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xm-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <fa-icon
            [icon]="['fas', 'palette']"
            id="visual"
            class="blue-logo"
          ></fa-icon>
        </div>
        <div class="col-xm-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <p>Visual Design</p>
        </div>
        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <p>
            Evaluating from the data we have collected, our design team shall
            proceed to make the visual designs of the wireframes and user
            experience flow.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xm-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <fa-icon
            [icon]="['fas', 'cogs']"
            id="development"
            class="blue-logo"
          ></fa-icon>
        </div>
        <div class="col-xm-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <p>Development</p>
        </div>
        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <p>
            With the visual designs, and once the design has a go ahead, we
            proceed our designs to coding for both the modules for mobile
            development e.g. iOS and Android.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xm-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <fa-icon
            [icon]="['fas', 'clipboard-check']"
            id="testing"
            class="blue-logo"
          ></fa-icon>
        </div>
        <div class="col-xm-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <p>Testing</p>
        </div>
        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <p>
            Rigorous testing would take place that would eliminate all the bug
            and help us fix the code if there’s any problem and would make it
            ready to be published on respective platforms, quantitative testing
            ~50 people hired.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xm-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <fa-icon
            [icon]="['fas', 'upload']"
            id="publish"
            class="blue-logo"
          ></fa-icon>
        </div>
        <div class="col-xm-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <p>Publish Product</p>
        </div>
        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <p>
            After all the bugs have been identified, the mobile apps or web apps
            are published on respective platforms by our team; where we will
            monitor post development maintenance also.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xm-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="about-logo">
        <img
          src="http://netwaresol.com/img/logoo.png"
          alt="img"
          class="footer-logo"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h4 class="expertise">Expertise:____</h4>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fab', 'html5']" id="htmlIcon"></fa-icon> <br />
          HTML <br />
          5 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fab', 'php']" id="phpIcon"></fa-icon> <br />
          PHP Core <br />
          3 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fab', 'laravel']" id="laravelIcon"></fa-icon>
          <br />
          Laravel <br />
          4 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fab', 'android']" id="androidIcon"></fa-icon>
          <br />
          Android <br />
          5 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fas', 'database']" id="databaseIcon"></fa-icon>
          <br />
          SQL <br />
          2 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fab', 'node']" id="nodeIcon"></fa-icon> <br />
          NodeJS <br />
          4 Years+
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <br />
          Flutter <br />
          1.5 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fas', 'palette']" id="graphicIcon"></fa-icon>
          <br />
          Graphics Design <br />
          5 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fab', 'wordpress']" id="wordpressIcon"></fa-icon>
          <br />
          Wordpress <br />
          5 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fab', 'react']" id="reactIcon"></fa-icon> <br />
          ReactJS <br />
          4 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fab', 'angular']" id="angularIcon"></fa-icon>
          <br />
          Angular <br />
          1.5 Years+
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <fa-icon [icon]="['fab', 'searchengin']" id="seoIcon"></fa-icon>
          <br />
          SEO <br />
          5 Years+
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
