<section class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2 class="text-center font-weight-bold proj-p1">
        We design & build brands, campaigns & digital projects for clients all
        over the world. While we’re currently working on new stuff, here’s some
        of our old stuff.
      </h2>
    </div>
  </div>
  <div class="row" id="cont-proj-1">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-1"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-1"
    >
      asd
    </div>
  </div>

  <div class="row" id="cont-proj-2">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-2"
    >
      asd
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-2"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
  </div>

  <div class="row" id="cont-proj-3">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-3"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-3"
    >
      asd
    </div>
  </div>

  <div class="row" id="cont-proj-4">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-4"
    >
      asd
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-4"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
  </div>
  <div class="row" id="cont-proj-5">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-5"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-5"
    >
      asd
    </div>
  </div>
  <div class="row" id="cont-proj-6">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-6"
    >
      asd
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-6"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
  </div>
  <div class="row" id="cont-proj-7">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-7"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-7"
    >
      asd
    </div>
  </div>
  <div class="row" id="cont-proj-8">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-8"
    >
      asd
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-8"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
  </div>
  <div class="row" id="cont-proj-9">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-9"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-9"
    >
      asd
    </div>
  </div>

  <div class="row" id="cont-proj-10">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-10"
    >
      asd
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-10"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
  </div>
  <div class="row" id="cont-proj-11">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-11"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-11"
    >
      asd
    </div>
  </div>
  <app-footer></app-footer>
</section>
