<section class="container-fluid">
  <app-header></app-header>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="address-container">
        <p class="address">
          Contact:___ <br />
          Office#F-25 <br />
          Second Floor Midway Centrum, <br />
          Intersection 6th Road, <br />
          Muree Road Rawalpindi<br />
          <br />
          contact@netwaresol.com <br />
          051-8736061-3
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="contact-container">
        <div class="md-form">
          <input mdbInput type="text" class="form-control" placeholder="Name" />
          <input
            mdbInput
            type="email"
            class="form-control"
            placeholder="Email"
          />
          <input
            mdbInput
            type="text"
            class="form-control"
            placeholder="Message"
          />
          <input
            mdbInput
            type="submit"
            class="btn btn-primary form-control"
            value="Submit"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="grid-container-map">
        <div class="map-container">
          <div id="map-container-google-1" class="map-container">
            <iframe
              src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              style="border: 0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
