* {
  padding: 2vh 0vh;
  background-color: #0a0a0a;
  color: azure;
  align-items: center;
}

.slider-img {
  width: 20vh;
  height: 25vh;
  border-radius: 50%;
}

img {
  width: 3vh;
  height: 4vh;
}
