<section class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img
            src="http://netwaresol.com/img/zahid.jpg"
            alt="Random first slide"
            class="slider-img"
          />
          <p>
            The service Netware Solutions provides is top quality – from initial
            request for info and proposal to the execution of the activity and
            debrief. They are active listeners understanding our unique
            requirements, able to improvise when requested. We had a memorable
            team-building experience. The activity is fun, relevant and yes, on
            point!
          </p>
          <h3>Zahid Ullah</h3>
          <h6>Founder || CEO || Rawalpindi, Pakistan</h6>
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="http://netwaresol.com/img/badar.jpeg"
            alt="Random second slide"
            class="slider-img"
          />
          <p>
            Excellent, professional, unique and enjoyable. The team worked hard
            to adjust to my requirements, and were open to changes in tools and
            workflow to ensure integration with my team and product.
          </p>
          <h3>Badar Khalil</h3>
          <h6>Co-Founder || COO || Rawalpindi, Pakistan</h6>
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="http://netwaresol.com/img/ihsan.jpg"
            alt="Random third slide"
            class="slider-img"
          />
          <p>
            Dear Visitor, Welcome to the site of Netware Solution and thank you
            for your advantage. This site will give you an amazing understanding
            about our organization and its capacities. The mission of Netware
            Solution is to surpass customer desires by giving remarkable client
            care through developments made by skilled, qualified
            representatives. We accept that our customer's fulfillment and in
            this way their dedication are our prosperity. Our general business
            mentality is molded by our general worth consideration. The
            individuals of Netware Arrangement get that, over the long haul,
            accomplishment in business must be accomplished by keeping up
            administration quality and long haul customer relations. I urge you
            to experience the mindful demeanor of our able, devoted
            representatives. We welcome the occasion to respond to any inquiries
            you may have and examine your requirements. It would be ideal if you
            let usknow how we can be of help to you.
          </p>
          <h3>Ihsan Ullah Khan</h3>
          <h6>Co-Founder || Rawalpindi</h6>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</section>
