<section class="container-fluid">
  <app-header></app-header>

  <div class="row" id="fstrow">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center"
      id="fstrow"
    >
      <img
        src="http://netwaresol.com/img/logoo.png"
        alt="logo"
        id="front-logo"
      />
      <h4 id="fstrow">a leading software company</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
      <h4 class="vision">Our Vision</h4>
      <p>
        To become the benchmark software company for the IT industry by
        providing world-class products to satisfy clients through continuous
        improvement driven by the integrity , teamwork and creativity of our
        professional Staff.
      </p>
    </div>
    <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
  </div>

  <div class="row">
    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
      <h3>
        We are creative development force that dives deep to understand the
        cause by the roots and provides efficient, effective technical solutions
        to improve processes for businesses large & small.
      </h3>
      <br />
      <br />
      <h5>We are best at the following;</h5>
      <br />
      <br />
      <a href="#">HTML</a> &nbsp; &nbsp; <a href="#">PHP Core</a> &nbsp; &nbsp;
      <a href="#">Laravel</a> &nbsp; &nbsp; <a href="#">Android</a> &nbsp;
      &nbsp; <a href="#">SQL</a> &nbsp; &nbsp; <a href="#">NodeJs</a> &nbsp;
      &nbsp; <a href="#">Flutter</a> &nbsp; &nbsp;
      <a href="#">Graphics Designing</a> &nbsp; &nbsp;
      <a href="#">WordPress</a> &nbsp; &nbsp; <a href="#">React</a> &nbsp;
      &nbsp; <a href="#">Angular</a> &nbsp; &nbsp; <a href="#">SEO</a>

      <br />
      <br />
      <br />
      <br />
      <br />
      <h4>Featured Projects</h4>
    </div>
  </div>

  <div class="row" id="cont-proj-1">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-1"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-1"
    >
      asd
    </div>
  </div>

  <div class="row" id="cont-proj-2">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-2"
    >
      asd
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-2"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
  </div>

  <div class="row" id="cont-proj-3">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-3"
    >
      <img src="http://netwaresol.com/img/logoo.png" alt="proj-img" />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
      id="cont-proj-3"
    >
      asd
    </div>
  </div>

  <app-slider> </app-slider>
  <app-footer></app-footer>
</section>
